section.home .sectionTitle {
    text-transform: uppercase;
    color: white;
}

.viewMore {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
}

.viewMore:hover {
    color: var(--second);
}